@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

.wrapper{
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    background-image: url('../images/partly-cloudy.jpg');
    overflow: hidden;
    .main{
        width: 75%;
    }
    .feather-menu{
        cursor: pointer;
        padding: 12px;
        background: rgb(196, 194, 201);
        color: rgb(59, 59, 59);
        z-index: 2;
        &:hover {
            opacity: 0.9;
            z-index: 2;
        }

    }
    img.loading-spinner{
        display: block;
        position: absolute;
        transform: translate(40rem, 10rem);
    }
    .text-content{
        height: 50px;
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding: 20px 37px;
        background: rgb(216 216 216);
        color: rgb(59, 59, 59);
        opacity: 0.9;
        align-items: center;
        bottom: 20%;
        left: 5%;
        position: absolute;
        align-items: center;
    }
    .text-content{
        .weather-icon{
            width: 40px;
            height: 40px;
        }
        h1{
            font-size: 1.5rem;
            margin: 0px;
        }
        .location{
            font-size: 1rem;
            margin: 0px;
        }
        .time, .wrapper .text-content .weather-description{
            font-size: 0.9rem;
        }
        .weather-description{
            font-size: 0.9rem;
        }

    }

    .menu-content{
        width: 93%;
        margin-left: auto;
        padding-top: 34px;
        display: flex;
        align-items: center;
        p{
            padding-left: 10px;
            font-size: 1.5rem;
        }
    }

    .right-sidebar-content {
        width: 65%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        right: 0px;
        min-height: 100vh;
        color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(18px);
        height: 100%;
        overflow-y: scroll;
        margin-right: -100%;
        transition: margin 0.5s ease;
        z-index: 1;

        &.show{
            margin-right: 0%;
        }

        .form-group{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .feather-search{
            padding: 23px;
            background: rgb(196, 194, 201);
            color: rgb(59 59 59);

        }
        .feather-search:hover{
            opacity: 0.9;

        }
        h1{
            color: #ffffff;
            font-size: 16px;
            padding-left: 10px;
            padding-top: 20px;
        }
        ul{
            list-style: none;
            padding: 0px 10px;
            border-bottom: 1px solid gray;
        }
        ul li.row{
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
        .container{
            padding: 0px 30px;
        }
        .weather-switcher{
            margin: 17px 0px;
            padding: 0px 10px;

        }
        .container{
            &.weather-preference{
                margin-bottom: 100px;
            }
            &.weather-preference ul{

                border-bottom: none;
            }
            .recent-searched li{
                position: relative;
                left: 0px;
                transition: left 0.5s ease;
                cursor: pointer;
                text-transform: capitalize;

            }
            .recent-searched li:hover{
                color: #ffffff;
                left: 3px;

            }
            &.search-place{
                padding-right: 0px;
                border-bottom: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .form-group{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }
                span.message{
                    color: rgb(248, 155, 155);
                    padding-top: 10px;
                    display: none;
                    font-size: 0.8rem;
                    font-style: italic;
                }
                span.message.error{
                    display: block;
                }
            }

            input.search{
                height: 49px;
                padding: 10px 10px 0px 10px;
                background: transparent;
                border: none;
                border-bottom: 1px solid gray;
                width: calc(100% - 40px);
                margin-top: 10px;
                color: rgba(255, 255, 255, 0.6);

                &::placeholder{
                    text-transform: capitalize;
                    color: rgba(255, 255, 255, 0.6);
                    font-style: italic;

                }

                &:focus-visible{
                    outline: none;
                    color: rgba(255, 255, 255, 0.6);

                }

            }
        }

    }

}

.switcher{
    display: flex;
    justify-content: space-between;
    width: 60px;
    position: relative;
    height: 33px;
    background-color: rgb(196, 194, 201);
    padding: 2px;
    border: none;
    align-items: center;

    &:focus, .switcher:focus-visible{
        border: none;
    }
    p {
        width: 26px;
        display: block;
        height: 20px;
        margin: 0px;
        font-weight: 600;
        font-size: 15px;
        color: rgb(59, 59, 59);
        cursor: pointer;
    }

}

.switch{
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 0.2em;
    left: 4px;
    transition: right 0.5s;
    svg{
        padding-top: 4px;
    }
    p {
        width: 26px;
        display: block;
        height: 20px;
        margin: 0px;
        font-weight: 600;
        font-size: 15px;
        color: rgb(59, 59, 59);
    }
}


.text-content h1.temperature-fahreneit{
    display: none;

}


@media screen and (min-width:768px){

    .wrapper {
        .text-content{
            height: 95px;
            h1{
                font-size: 3.5rem;
            }
            .location{
                font-size: 2.5rem;

            }
            .time, .wrapper .text-content .weather-description{
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (min-width:991px){

    .wrapper{
        .right-sidebar-content{
            margin-right: 0%;
            width: 25%;
            backdrop-filter: blur(15px);
            &.show{
                margin-right: -100%;
            }
        }
    }

}
